body {
    padding: 0;
    width: 100%;
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-variant-numeric: lining-nums;
}

main {
    margin: 0;
    padding: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.general-header {
    background-color: #FED201;
    width: 80%;
    height: 80px;
    margin: 0 auto 40px;
    margin-top: 2.6vh;
    padding: 0;
    box-shadow: 0px 0px 20px rgba(116, 116, 116, 0.5);
    border-radius: 20px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.general-h1 {
    margin: 0;
    font-size: 48px;
    padding: 10px 0;
    text-align: center;
}

.general-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.general-button {
    width: 25vh;
    height: 6.2vh;
    background-color: #FED101;
    border-radius: 20px;
    font-size: 24px;
    box-shadow: 0px 0px 20px rgba(116, 116, 116, 0.5);
    border: 1px solid #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}